* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #1e293b;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* HERO */
header {
    text-align: center;
    padding: 80px 20px;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    background: #38bdf8;
    border-radius: 20px;
    cursor: pointer;
}

/* SERVICES */
.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}